<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics II Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true
        }
      };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
</head>
<body>
<div class="sidebar">
    <h2>Mathematics II</h2>
    <a href="/">Show All Questions</a>
    <hr>
    <a href="/unit/1">Unit 1: <br>Introduction to Matrices</a>
    <hr>
    <a href="/unit/2">Unit 2: <br>Inverting Matrices</a>
    <hr>
    <a href="/unit/3">Unit 3: <br>Systems of Linear Equations</a>
    <hr>
    <a href="/unit/4">Unit 4: <br>Introduction to Graphs</a>
    <hr>
    <a href="/unit/5">Unit 5: <br>Shortest Path Problem</a>
    <hr>
    <a href="/unit/6">Unit 6: <br>The Königsberg Bridge Problem</a>
    <hr>
    <a href="/unit/7">Unit 7: <br>Hamiltonian Paths</a>
    <hr>
    <a href="/unit/8">Unit 8: <br>Trees</a>
    <hr>
</div>

    <div class="main-content">
        <nav class="top-menu">
            <span>My Dashboard / Practice</span>
        </nav>
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>